*{
    margin:0px;
    padding:0px;
}
body{
    background-color:#3D087B ;
    font-family: Arial, Helvetica, sans-serif;
}
#grid_item1{
    height: 100vh;
    padding:2em;
}
#grid_item2{
    padding: 2em;
}
.main_container{
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 2em;
    margin-right: 2em;
    }

label{
    margin-left: 2em;
    font-size: 20px;
    color: #3D087B;
}
#menu_box{
  background-color: white;
  border-radius:1em;
  margin-bottom: 1em;
  width:100%; 
 }

 .line
 {
  margin:0px 16px;
  width:0px;
  height:22px;
  border:1px solid black;
}

#message_one{
    background-color:grey;
    width:100%;
    margin:1em 0em;
    border-radius:0.4em;
    padding:0.5em 0em;
    font-size: 2em;
    margin:20px 0px;
    text-align: center;
    font-weight:bolder;
    color: #F25CFE;
    
}

 .same-select{
    width: 40%;
    margin-left: 2em;
    font-size: 20px;
    color: #400b7d;
  
  
}
#wake-select{
    margin-left: 1em;
}
#lunch-select{
  margin-left:  2.6em;
}
#nap-select{
    margin-left:  3.5em;
}
#night-select{
    margin-left:  3.1em;
}





.container_messages{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
#button{
   width:10em;
    background:linear-gradient(to right,#6E54EC,#CB52F8,#FC5EFF);
    border-radius:5px;
    text-align: center;
    padding:20px 0px;
    font-size: 24px;
    font-weight: bold;
    height: 2.4em;
    border: none;
    color: white;

}
#button:hover{
    background:linear-gradient(to right,#FC5EFF,#CB52F8,#6E54EC);
   
   
}
#button:hover span{
    display: none;
}
#button:hover:before {
    content: "Party Time!"
  }

#related_message{
    width:52%;
    border-radius: 10px;
    background-color: white;
    color:#F25CFE;
   height: 7em;
    margin-bottom:1em;
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
    font-size: 20px;
    opacity: 50%;
   }


#current_timeMain{
    width: 100%;
    height: 5em;
    flex-wrap: wrap;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: space-around;
    background-color: white;
    z-index: 2;
    padding:1em 0em ;
}

#inside_box1{
    display: relative;
    height: 4em;
    margin-top: -3em;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    background-color: #d3c7e1;
    z-index: -1;
    opacity: 50%;
}

#inside_box2{
    display: relative;
    height: 4em;
    margin-top: -3em;
    width: 60%;
    margin: auto;
    margin-top: -3em;
    border-radius: 10px;
    background-color: white;
    z-index: -1;
    opacity: 20%;
}

#current_timeMain span{
    font-size: 25px;
}

.common_Box{
    height: 70%;
    width: 10%;
    color: #894ba3;
    background-color: #f6e2ff;
    font-size: 30px;
    }

#ap{
    background: url(./assets/Duration.png);
    color: white;
    }

#Message_two{
    width: 100%;
    background-color: white;
    margin-top:2em;
    border-radius: 10px;
    text-align: center;
    padding:1em;
    color:#8E53F0 ;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
}

#rel_images{
    height: 24em;
    width: 100%;
    background-color: white;
    margin-top: 1rem;
    border-radius: 10px;
    background: url("./assets/display.webp");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
#image_logo{
    height: 4em;
}

@media only screen and (max-width: 1080px) and (min-width: 601px) {
    #image_clock  {
        margin-bottom: 15em;
    }
    #desk_time{
        position: absolute;
        top: 9%;
        width: 100%;
    }
    .main_container{
        display: grid;
        grid-template-columns: 1fr;
        
        grid-gap: 2em;
        width: 100%;
        height: auto;
    }
    #grid_item1{
        width:100%;
        height: 42em;
        grid-column: 1;
       
    }
    #grid_item2{
        
        width:100%;
        margin-top: 10em;
        grid-column: 1;
       
    }
}

@media only screen and (max-width: 600px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    #image_clock  {
        margin-bottom: 14em;
    }
    #desk_time {
        position: absolute;
        top: 15%;
        width: 100%;
    }
    .main_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;
        width: 100%;
        height: auto;
        }
    #grid_item1 {
        width:100%;
        
        grid-column: 1;
        
    }
    #grid_item2{
        width:100%;
        grid-column: 1;
        
        margin-top: 14em;
    }
    .container_messages{
        flex-direction: column;
    }
    #button, #related_message{
        width: 80%;
        margin: auto;
        margin-bottom: 1em;
    }
    #Message_two {
        font-size: 0.8em;
    }
  
    #wake-select{
         margin-left: 3.6em;
         width: 60%;
        
        }
        #lunch-select{
            margin-left: 3.6em;
            width: 60%;
        }
        #nap-select{
            margin-left: 3.6em;
            width: 60%;
        }

        #night-select  {
            margin-left: 3.6em;
            width: 60%;
        }
 

    #rel_images{
        width: 90%;
        margin: auto;
        margin-top: 1em;
    }

    
}
